.sheet {
  fill: gray;
  stroke: none;
}

.ground {
  stroke: black;
  stroke-width: 5;  /* frame_width / 2 */
  fill: #208020;
}

.cell {
  fill-opacity: 0;
}

.dot {
  fill: black;
}

.helper-stone {
  fill-opacity: 0;
}

.helper-stone:hover {
  fill-opacity: 0.5;
}

.pass-button {
  font-size: 50px;
  padding: 10px 30px;
  vertical-align: top;  /* Žb’è‘[’u */
}
